body {
	font-family: Verdana, Tahoma, arial, Serif;
	font-size: small;
	color: white;
	background: #000000;
	background-image:url('/images/space1.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
}


:link { color: rgb(250, 200, 53); }  /* for unvisited links */
:visited { color: rgb(250, 200, 53); }
a:active { color: rgb(255, 200, 102); } /* when link is clicked */
a:hover { color: rgb(255, 255, 0); }


DELETE.overall {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}


th {
	/*border-bottom: medium solid #000000;*/
	text-align: left;
}


.little {
	font-size: x-small;
	color: #666666; 
}

.little2 {
	font-size: x-small;
}

.small {
	font-size: small;
}

.large {
	font-size: large; 
}

.warning {
	color: #ff0000;	
}


.background-red {
	background-color: #ff0000;	
}


div.structural {
	border: 2px solid #aaa;
	background-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	-moz-border-radius: 12px;
}


.blue {
	background-color: rgb(100,100,255);
}


input {
  color: #000000;
  background-color:rgb(250, 200, 53);
  border: 1px solid;
}


.input {
  color: #000000;
  background-color:rgb(250, 200, 53);
  border: 1px solid;
}


textarea {
  color: #000000;
  background-color:rgb(250, 200, 53);
  border: 1px solid;
	font-size: small;
}


.combobox {
  color: #000000;
  background-color:rgb(250, 200, 53);
  border: 1px solid black;
} 



