.mainmenu {
	/*width: auto;*/
}


#sddm
{/*	margin: 0;
	padding: 0;
	z-index: 30
/*	float: right;*/
}


#sddm li
{/*	margin: 0;
	padding: 0;
	list-style: none;
	/*float: left;*/
	font: bold 11px arial
}


#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: rgb(161, 0, 0);
	color: #FFF;
	text-align: center;
	text-decoration: none
}


#sddm li a:hover
{	background: rgb(161, 0, 0);
}


#sddm div
{
	width: 120px;
	/*position: absolute;
	/*visibility: hidden;*/
	/*margin: 0;
	padding: 0;*/
	background: #EAEBD8;
	border: 1px solid rgb(201, 0, 0);
}


#sddm div a{
/*	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;*/
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: black;
	color: rgb(161, 0, 0);
	font: 11px arial
}


#sddm div a:hover
{
	background: black;
	color: #FFF
}


