#navcontainer { 
	width: 150px; 
}

#navcontainer ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

#navcontainer li {
	display: block;
	padding: 3px;
	width: 160px;
	background-color: rgb(161, 145, 68);
	border-top: 2px solid rgb(194, 188,116);
	border-left: 2px solid rgb(194, 188,116);
	border-bottom: 2px solid rgb(126, 110, 38);
	border-right: 2px solid rgb(126, 110, 38);
}

#navcontainer a:link, #navlist a:visited {
	color: black;
	text-decoration: none;
}

#navcontainer li:hover {
	background-color: rgb(234, 218,136);
	color: #000;
}
