table.stats {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #0f0;
	background-color: #666;
	border: 0px;
	border-collapse: collapse;
	padding: 5px;
}


table.stats td {
	background-color: #00ff00;
	color: #000;
	padding: 4px;
	text-align: left;
	border: 1px #fff solid;
}


table.stats th {
	background-color: #666;
	color: #fff;
	padding: 5px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 12px;
	font-weight: bold;
} 

table.stats :link {
	color: #776420; 
}  /* for unvisited links */

table.stats :visited {
	color: #776420; 
}


table.stats td.background-red {
	background-color: red;
}

